
  /* CharacterList.scss */
.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 15px;
    margin: 0 auto; /* Centrar el grid y agregar margen */
    max-width: auto; /* Establecer un ancho máximo */
  }
  

.num-result {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left; /* Alinear a la izquierda */
  }
  