.comic-title{
    font-size: 0.7rem;
    font-weight: 600;
    margin: 2px;
    padding-top: 2px;
    margin-bottom: 0.5rem;
    height: 1.3rem;
    
}

.comic-description{
    font-size: 0.6rem;
    
}



.comic-image {
    width: 10rem;
    height: 15rem;
}


.comic-item {
    width: 100%; 
    height: auto; 
    text-align: left;
    width: 10rem;
    
  }

 .comic-card{
    width: 10rem;
    white-space: normal; /* Asegura que el texto salte de línea */
    word-wrap: break-word; /* Asegura que las palabras largas no sobresalgan del div */
 } 


  