.favorites-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left; /* Alinear a la izquierda */
}

.favorites-view{
    display: grid;
    grid-template-columns: 1fr; /* Una columna flexible */
    max-width: 1400px; /* Establece el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
}