// En tu archivo de estilos mainView.scss
.main-view {
    display: grid;
    grid-template-columns: 1fr; /* Una columna flexible */
    grid-gap: 20px; /* Espacio entre filas */
    max-width: 1400px; /* Establece el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
  }
  
  .character-list {
    grid-column: 1 / -1; /* Los personajes ocupan todas las columnas disponibles */
  }
  